### OSX ###
.DS_Store

### no pickle ###
*.pickle

### extra ###
chromedriver

### no txt ###
*.txt

#### idle ###
.vscode

#### Python ####
__pycache__/


#### Data ####
crawler/resources/**
!crawler/resources/**/
!crawler/resources/**/.gitkeep
