### OSX ###
.DS_Store

### no pickle ###
*.pickle

### extra ###
chromedriver

### no txt ###
*.txt

#### idle ###
.vscode

#### Python ####
__pycache__/


#### Data ####
resources/**
!resources/**/
!resources/**/.gitkeep
